extends package::global/layout.jade
extends parent-layout::base.jade
extends mixin::list.jade

block title
  title Article Title

block content
  h1 My Article

  async-fragment(data="globalData.xxx")

  xvar(a='17')
  xif(test='a = b')
    $globalData.abc.x
  xelse-if(test='a = c')
    $data.c
  xelse
    $data.d
